        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Уникальные решения</h2>
                <p class="text-center wow fadeInDown">Развитие современного производственного предприятия, в первую очередь, связано с инновациями и оптимизацией всех процессов. <br>Без этого невозможно добиться по-настоящему сто́ящих результатов, нельзя продолжать движение вперёд и не отставать от конкурентов, а главное – времени.</p>
                <p class="text-center wow fadeInUp">С это целью нужно внедрять на предприятиях технико-технологический аудит и комплексный подход к решению производственных и не только задач. Оптимизация, автоматизация и повышение эффективности должны затронуть всё – это как никто понимают специалисты ООО «Роботек»,<br> задача которых и состоит в аудите предприятий и внедрении на них инновационных решений, позволяющих повысить все их показатели.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    {% content 'about/video.htm' %}
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    {% content 'about/capabilities.htm' %}
                </div>
        </div>
