        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Новости</h2>
                <p class="text-center wow fadeInDown">Основные события в жизни компании</p>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img class="img-responsive" src="{{ 'assets/images/blog/2021-08-02-weldex-logo-1.png'|theme }}" alt="">
                                    <span class="post-format post-format-video"><i class="fa fa-info"></i></span>
                                </div>
                                <div class="entry-date">2 Августа 2021</div>
                                <h2 class="entry-title"><a href="#">WELDEX - 2021</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>Приглашаем вас посетить 20-ю Международную выставку сварочных материалов, оборудования и технологий Weldex - 2021.</P>
                                <a class="btn btn-primary" href="#">Читать</a>
                            </div>

                            <footer class="entry-meta">
                                <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Елена</a></span>
                                <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">События</a></span>
                                <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">1</a></span>
                            </footer>
                        </article>
                    </div>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6">
                    <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
                        <article class="media clearfix">
                            <div class="entry-thumbnail pull-left">
                                <img class="img-responsive" src="{{ 'assets/images/blog/2021-04-27-metobr-logo-4.jpg'|theme }}" alt="">
                                <span class="post-format post-format-gallery"><i class="fa fa-image"></i></span>
                            </div>
                            <div class="media-body">
                                <header class="entry-header">
                                    <div class="entry-date">27 Апреля 2021</div>
                                    <h2 class="entry-title"><a href="#">МЕТАЛЛООБРАБОТКА-2021</a></h2>
                                </header>

                                <div class="entry-content">
                                    <P>Приглашаем вас посетить выставку металлоброботка - 2021.</P>
                                    <a class="btn btn-primary" href="#">Читать</a>
                                </div>

                                <footer class="entry-meta">
                                    <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Елена</a></span>
                                    <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Выставки</a></span>
                                    <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">5</a></span>
                                </footer>
                            </div>
                        </article>
                    </div>
                    <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="200ms">
                        <article class="media clearfix">
                            <div class="entry-thumbnail pull-left">
                                <img class="img-responsive" src="{{ 'assets/images/blog/2021-03-05-march.jpg'|theme }}" alt="">
                                <span class="post-format post-format-audio"><i class="fa fa-pencil"></i></span>
                            </div>
                            <div class="media-body">
                                <header class="entry-header">
                                    <div class="entry-date">05 Марта 2021</div>
                                    <h2 class="entry-title"><a href="#">С Международным женским днем!</a></h2>
                                </header>

                                <div class="entry-content">
                                    <P>Всех женщин поздравляем с замечательным женским днем</P>
                                    <a class="btn btn-primary" href="#">Читать</a>
                                </div>

                                <footer class="entry-meta">
                                    <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Иван</a></span>
                                    <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Поздравления</a></span>
                                    <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                                </footer>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </div>
