        <div id="yandex-map" style="height:650px" data-latitude="52.365629" data-longitude="4.871331"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>Контактная информация</h3>

                            <address>
                              <strong>ООО «Роботек»</strong><br>
                              119313, город Москва,<br>
                              Ленинский проспект, дом 95<br>
                              <abbr title="Phone">Тел:</abbr> +7 (495) 778-63-88
                              <abbr title="Phone">Тел:</abbr> +7 (495) 645-32-52
                            </address>

                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="имя" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="почта" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="тема" class="form-control" placeholder="Subject" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="сообщение" class="form-control" rows="8" placeholder="Message" required></textarea>
                                </div>
                                <button type="отправить" class="btn btn-primary">Отправить сообщение</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
