        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Ключевые особенности</h2>
                <p class="text-center wow fadeInDown">Промышленный инжиниринг и автоматизация производств играют важную роль в развитии современного бизнеса. </br>
                    Только оборудованные в соответствии с последним словом техники, оптимизированные для решения стоящих перед ними задач предприятия могут выдерживать бешеную конкурентную гонку с выгодой для себя, не теряя, а только улучшая свои позиции на рынке.</p>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="{{ 'assets/images/main-feature.jpg'|theme }}" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="media-body">
                            <h4 class="media-heading">Главная цель ООО «Роботек» –</h4>
                            <p>комплексное решение задач, стоящих перед промышленными предприятиями, с помощью:</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="media-body">
                            <h5 class="media-heading">Проведения технико-технологического аудита</h5>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="media-body">
                            <h5 class="media-heading">Разработки современных технологических решений</h5>
                            <p></p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="media-body">
                            <h5 class="media-heading">Разработки логистической структуры предприятий</h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="media service-box wow fadeInRight">
                        <div class="media-body">
                            <h5 class="media-heading">Запуска в эксплуатацию высокотехнологичного оборудования</h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="media service-box wow fadeInRight">
                        <div class="media-body">
                            <h5 class="media-heading">Проведения обучения специалистов ИТР и рабочих специалистов</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
