        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Наша продукция</h2>
                <p class="text-center wow fadeInDown">Эффективность, а значит, прибыльность производств напрямую зависит от того, какое оборудование и инструменты на них используются.<br> Если на заводе применяется современное, высокотехнологичное оборудование, он даст более высокие показатели производительности и качества. Следовательно, принесёт большую выгоду владельцам бизнеса.</p>
                <p class="text-center wow fadeInUp">В ООО «Роботек» пристальное внимание уделяют оснащению производств современным оборудованием, автоматизации и снижению человеческого фактора. Закупка производится у проверенных, имеющих безупречную репутацию, партнёров.</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Все категории</a></li>
                    <li><a href="#" data-filter=".creative">Обработка</a></li>
                    <li><a href="#" data-filter=".corporate">Оборудование</a></li>
                    <li><a href="#" data-filter=".portfolio">Прочее</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/obrabotka-rezanie.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Обработка</h3>
                            металла резанием
                            <a class="preview" href="{{ 'assets/images/portfolio/full/obrabotka-rezanie-full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/obrabotka-lista.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Обработка</h3>
                            листового металла
                            <a class="preview" href="{{ 'assets/images/portfolio/full/obrabotka-lista-full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/zagotovit.-pr-vo.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Оборудование</h3>
                            для заготовительного производства
                            <a class="preview" href="{{ 'assets/images/portfolio/full/zagotovit.-pr-vo-full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/metalloprokat.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Обработка</h3>
                            труб, профиля и металлопроката
                            <a class="preview" href="{{ 'assets/images/portfolio/full/metalloprokat-full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/els.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Электронно-лучевая технология</h3>
                            <a class="preview" href="{{ 'assets/images/portfolio/full/els-full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/emkosti.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Емкостное оборудование</h3>
                            <a class="preview" href="{{ 'assets/images/portfolio/full/emkosti-full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/kabina-2.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Средства</h3>
                            для диагностики и дезинфекции
                            <a class="preview" href="{{ 'assets/images/portfolio/full/kabina-2-full.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{ 'assets/images/portfolio/skladyi-02.png'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Автоматизированные системы хранения</h3>
                            <a class="preview" href="{{ 'assets/images/portfolio/full/skladyi-02.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
