        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Наши услуги</h2>
                <p class="text-center wow fadeInDown">Деятельность ООО «Роботек» направлена на оптимизацию и повышение эффективности предприятий<br> через разработку комплексных технологических решений.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Промышленный инжиниринг</h4>
                                <p>Наш плюс - команда профессионалов с многолетним опытом работы на металлообрабатывающих производствах</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cubes"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Организация производства "под ключ"</h4>
                                <p>Накопленный нами опыт и возможности позволяют решать сложные производственные задачи "под ключ".</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-pie-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Автоматизация и роботизация производства</h4>
                                <p>Выполнение полного комплекса работ позволяет гарантировать лучший результат для клиентов по доступной стоимости и в короткие сроки</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Поставка оборудования</h4>
                                <p>Мы предлагаем своим клиентам широкий диапозон надежного металлообрабатывающего оборудования от ведущих поставщиков России, Европы и Азии</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-language"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Комплектующие</h4>
                                <p>Цель - снижение всез видов затрат и достижение лучшей результативности</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Сервис</h4>
                                <p>Сервисное обслуживание является важным элементом нашей системы поставок и значимой частью политики нашей компании</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
