        <div class="owl-carousel">
            <div class="item" style="background-image: url({{ 'assets/images/slider/s1.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Проектирование</span> необходимой технологической оснастки (приспособлений)</h2>
                                    <a class="btn btn-primary btn-lg" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url({{ 'assets/images/slider/s2.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Модернизация</span> предприятий</h2>
                                    <a class="btn btn-primary btn-lg" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{ 'assets/images/slider/s3.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Разработка технологических решений</h2>
                                    <a class="btn btn-primary btn-lg" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{ 'assets/images/slider/s4.png'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Сервисное обслуживание</span></h2>
                                    <p></p>
                                    <a class="btn btn-primary btn-lg" href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{ 'assets/images/slider/s5.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Диагностика и дезинфекция</h2>
                                    <p>С заботой о будущем!</p>
                                    <a class="btn btn-primary btn-lg" href="/katalog/oborudovanie-dlya-dezinfekczii/">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
